* {

	font-family: 'Quicksand', sans-serif;
	background-color: #ffab91;
}


header .container{
	background-color: #d32f2f;
	color: #FFF;
}

span .flow-text {
	font-family: 'Bree Serif', serif;
	font-size: 4em;
	color: #FFF;
}


section .container{
	background-color: #FF9F80;

}

.caja-check{
	background-color: #A7DBD8;

}
/* tomar el valor de input (ingresa tarea) y hacer que pase al checkbock
con append se meten clases dentro de las to-do */