header .container{
	background-color: #d32f2f;
}

h1 {
	color: #FFF;
	background-color: #d32f2f;
	font-family: 'Cookie', cursive;

}

h2 {
	font-family: 'Cookie', cursive;
	background-color: #FFF;
	color:#d32f2f;
}

li .check{
	padding-left: 130px;
}